$font-light: 'Arsenal-Light', sans-serif;
$font-reg: 'Arsenal-Regular', sans-serif;
$font-ital: 'Arsenal-Italic', sans-serif;
$font-med: 'Arsenal-Medium', sans-serif;
$font-bold: 'Arsenal-Bold', sans-serif;
$font-bold-ital: 'Arsenal-Bold-Italic', sans-serif;