


<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <span ui-sref="app">header</span>
                        <ul class="menu">
                            <li  ui-sref="app.main">
                                Page 2
                            </li>
                        </ul>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
