


<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <ul class="menu">
                            <li ui-sref="app">
                                Login
                            </li>
                            <li  ui-sref="app.main">
                                Search
                            </li>
                            <li  ui-sref="app.tasks">
                                Tasks
                            </li>
                            <li  ui-sref="app.task">
                                Task
                            </li>
                        </ul>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
