


<div class="container">
    <div class="row" ng-controller="loginController">
        <div class="col-md-12">
            <div class="login-title">
                Login Form
            </div>
            <div class="login-block">
                <form class="form-horizontal" name="loginForm"
                      ng-submit="loginSubmit(login,password)" novalidate >
                    <input type="text" class="main-input" name="name" placeholder="name*"
                           ng-model="login"
                           required/>
                    <input type="password" class="main-input" name="password" placeholder="password*"
                           ng-model="password"
                           required/>
                    <button class="submit-btn"
                            type="submit" ng-disabled="loginForm.$invalid">
                        Login
                    </button>
                    <span class="required">* - required</span>
                    <span id="login-error">{{errorMss}}</span>
                </form>
            </div>
        </div>
    </div>
</div>
