


<div class="container" ng-controller="mainController">
    <div class="row main-page">
        <div class="col-md-12">
            <div class="search-block">
                <form name="searchForm"
                       ng-submit="getFollowers(username,direction)">
                    <input type="text"
                           name="search"
                           class="main-input"
                           ng-model="username" />
                    <label for="followers">
                        <input type="radio" id="followers" name="direction"
                               value="followers"
                               ng-model="direction"
                               checked  />
                        Get followers
                    </label>
                    <label for="follows">
                        <input type="radio" id="follows" name="direction"
                               value="follows"
                               ng-model="direction" />
                        Get follows
                    </label>
                    <button type="submit"
                            class="submit-btn">
                        Search
                    </button>
                </form>
            </div>
            <div class="actions">
                <button class="submit-btn">
                    Subscribe all
                </button>
                <button class="submit-btn">
                    UnSubscribe all
                </button>
            </div>
            <ul class="users-list">
                <li ng-repeat="user in users" class="users-list-block">
                    <div class="user-avatar" style="background-image: url('{{user.user.profile_pic_url}}')"></div>
                    <a href="https://www.instagram.com/{{user.user.username}}/" target="_blank" class="main-link">{{user.user.username}}</a>
                    <div class="name">{{user.user.full_name}}</div>
                    <div class="description">{{user.user.biography}}</div>
                    <div class="followed_by">Followed by : {{user.user.followed_by.count}}</div>
                    <div class="follows">Follows : {{user.user.followed_by.count}}</div>
                    <button class="action-btn" id="subscribe">Subscribe</button>
                    <button class="action-btn" id="unsubscribe">UnSubscribe</button>
                    <input type="checkbox" name="checkbox" id="{{user.user.id}}" class="checkbox"/>
                </li>
            </ul>
        </div>
    </div>
</div>