


<div class="search-block">
    <form name="searchForm">
        <input type="text" name="search" class="main-input" ng-model="username" />
        <label for="followers">
            <input type="radio" id="followers" name="direction" value="followers" ng-model="direction" checked  />
            Get followers
        </label>
        <label for="follows">
            <input type="radio" id="follows" name="direction" value="follows" ng-model="direction" />
            Get follows
        </label>
        <button ng-click="getFollowers(username,direction)" class="submit-btn">Search</button>
    </form>
</div>